body {
    font-family: "comic sans ms";
    display: inline-block;
}

.header {
    float: right;
    width: 67%;
}

.prenom {
    color: orange;
}

.poste {
    padding-bottom: 2px;
}

.span-header {
    border-bottom: solid orange;
}

h1, h3 {
    text-transform: uppercase;
}

.section {
    float: right;
    width: 67%;
}

.sidebar {
    background-color: orange;
    float: left;
    width: 33%;
}