body {
    display: flex;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 1em;
    margin: 0;
}

body #sidebar {
    width: 35%;
}

body #main-content {
    width: 65%;
}

#main-content .main-margin {
    width: 85%;
    margin: 0 auto;
}

.prenom {
    color: #FFCA28;
    letter-spacing: 0.05em;
    font-weight: 150;
}

.nom {
    letter-spacing: -0.1em;
    font-weight: 100;
}

.span-header {
    border-bottom: solid #FFCA28;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    margin: 15% auto 0 auto;
    padding: 0 auto;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto 15% auto;
    padding: 0 auto;
}

h1, h3, h4 {
    text-transform: uppercase;
}

.section h3 {
    letter-spacing: 0.02em;
    font-size: 2em;
}

#sidebar {
    background-color: #FFCA28;
}

#sidebar .sidebar-margin {
    width: 85%;
    margin: 0 auto;
}

.fas {
    color: #FFCA28;
    position: relative;
    font-size: 1.6em;
}

.titre-section  {
    display: flex;
    align-items: center;
    border-bottom: solid #FFCA28;
    font-size: 1.3em;
}

.titre-section h3  {
    margin-left: 20px;
}

.contenu-section {
    display: flex;
    align-content: stretch;
}

.section-gauche {
    width: 40%;
    margin: 2% auto 0 auto;
}

.section-droite {
    width: 60%;
    margin: 2% auto 0 auto;
}

.date {
    font-weight: bolder;
}

.reco-1, .reco-2 {
    width: 50%;
    margin: 5% auto;
    font-size: 0.8em;
}

.nom-manager {
    text-transform: uppercase;
}

.nom-manager, .info-reco {
    font-weight: bolder;
}

.container h5, p {
    font-size: 0.8em;
}

.dot-circle {
    list-style-image: url(img/dot-circle-regular.svg);
}

ul {
    color: #FFCA28;
}

li > .date {
    color: black;
}

#photo-cv {
    display: block;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(107, 94, 94, 0.3);
    margin: 15% auto 15% auto;
}
