body, html {
    display: inline-block;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

.header {
    float: right;
    width: 67%;
}

h1, .poste {
    padding-left: 8%;
}

.prenom {
    color: orange;
    letter-spacing: 0.05em;
    font-weight: 150;
}

.nom {
    letter-spacing: -0.1em;
    font-weight: 100;
}

.span-header {
    border-bottom: solid orange;
}

h2 {
    font-weight: 100;
}

h1, h3 {
    text-transform: uppercase;
}

.section {
    float: right;
    width: 67%;
}

.section h3 {
    letter-spacing: 0.02em;
}

.container {
    padding-left: 8%;
    padding-right: 5%;
}

.sidebar {
    background-color: orange;
    float: left;
    width: 33%;
}

.fas {
    color: orange;
    position: relative;
}